@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* ******** Container general ******** */
#wrapper {
  width: 100%;
  height: 100vh;
  background-color: black;
}

main {
  height: calc(100vh - 90px);
  overflow: auto;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

/* Main - sidebar  */
main nav {
  float: left;
  width: 60px;
  height: 100%;
  background-color: black;
}

@media all and (min-width: 601px) {
  main nav .sidebar {
    width: 250px;
  }

  #line-side {
    display: none;
    color: white;
    margin: 0 auto;
  }
}

/* Main - Content  */
#content {
  float: left;
  width: calc(100% - 60px);
  height: 100%;
  background-color: #141922;
  overflow: auto;
}

.aw {
  color: white;
  text-decoration: none;
}

/* Top banner */
.top-banner {
  height: 90px;
  background-color: #080b12;
}

/* Buttons */

.big-btn {
  float: right;
  text-align: center;
  font-size: 13px;
  width: 200px;
  height: 40px;
  line-height: 35px;
  margin: 20px;
  background-color: #080b12;
  border-radius: 25px;
  border: 1px solid white;
}

/* Center actions */

.center-actions ul {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

li {
  list-style: none;
}

/* Green underline  */

#g-under {
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(101, 247, 101);
}

#green-underline {
  border-bottom: 1px soldi green;
}

/* Sidebar */

.sidebar {
  position: relative;
}

.logo {
  margin: 10px;
  padding: 1px;
}

.personal {
  margin: 12px;
  line-height: 40px;
  padding: 2px;
}

/* Container account sidebar */

.container.account {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.download {
  position: relative;
  bottom: -450px;
  width: 20px;
  height: 10px;
  margin: 19px;
}

#line-side {
  display: none;
  color: white;
  margin: 0 auto;
}

#user {
  width: 25px;
  height: 25px;
}

.profile {
  position: relative;
  bottom: -420px;
  right: 45px;
  margin: 100%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background-color: grey;
}

/******* Covers  *******/

.container-covers {
  padding: 5px;
}

.covers {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

h1 {
  color: white;
  padding: 17px;
  font-weight: bolder;
  font-family: "Rubik", sans-serif;
}

h4 {
  font-weight: bolder;
  font-family: "Rubik", sans-serif;
}

.title {
  padding-top: 10px;
  padding-bottom: 30px;
  color: white;
  text-align: center;
}

.subtitles {
  padding-top: 5px;
  font-size: 12px;
}

.container-covers img {
  width: 180px;
  height: 180px;
}

@media all and (min-width: 601px) {
  #content {
    float: left;
  }
}

footer {
  height: 90px;
  background-color: rgb(68, 68, 68);
}
